<launch>
    <!-- Launch roscore -->
    <node pkg="roslaunch" type="roscore" name="roscore" output="screen" />

    <!-- Start IMU publisher node -->
    <node pkg="flood_monitor_16" type="imu_publisher.py" name="imu_publisher" output="screen" />

    <!-- Launch the flood_monitor environment -->
    <include file="$(find flood_monitor_16)/launch/flood_monitor.launch" />

    <!-- Start the controller node -->
    <node pkg="flood_monitor_16" type="controller.py" name="controller" output="screen" />

    <!-- Delay to allow Gazebo and other nodes to initialize -->
    <param name="use_sim_time" value="true" />
</launch>
